---

export async function getStaticPaths({ paginate }) {
  const quotes = await Astro.glob('./**/*.md');

  console.log(quotes);

  

  // const astronautPages = [{
  //   astronaut: 'Neil Armstrong',
  // }, {
  //   astronaut: 'Buzz Aldrin',
  // }, {
  //   astronaut: 'Sally Ride',
  // }, {
  //   astronaut: 'John Glenn',
  // }];
  // // Generate pages from our array of astronauts, with 2 to a page
  // return paginate(astronautPages, { pageSize: 2 });


  return paginate(quotes, { pageSize: 2 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---

<!--Display the current page number. Astro.params.page can also be used!-->
<h1>Page {page.currentPage}</h1>
<ul>
  <!--List the array of astronaut info-->
  {page.data.map(async (p) => {
  console.log("e", p.frontmatter);
  const {frontmatter} = p;
  return <li>{frontmatter.text}</li>
  })}
</ul>