---

---

<div class="root">
  <div class="square">
    <h1>Hello from Quoke.</h1>
  </div>
  <slot></slot> 
</div>

<style lang="scss">
  .root {
    min-height: 10em;
    margin: 0;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    color: #222;
  }

  .square {
    padding: 1rem;
    max-width: 400px;
    background-color: antiquewhite;
  }
</style>
