---
// Type imports
import type { QuoteFrontmatter } from '@lib/types';

// Layout imports
import Base from '../layouts/Base.astro';

const posts = await Astro.glob<QuoteFrontmatter>('./quotes/**/*.md');
---

<!-- <head><meta http-equiv="refresh" content="0; url=/q/1" /></head> -->

<Base title="Quoke &mdash; a few quotations">

<!-- {posts.map(post => (
<div class="quote">
  <div class="text">{post.frontmatter.text}</div>
  <div class="divider">&mdash;&mdash;</div>
  <div class="author">{post.frontmatter.author}</div>
  <div class="source">{post.frontmatter.source}</div>
</div>
))} -->

</Base>

<style lang="scss">
  .quote {
    margin-bottom: 3em;
  }

  .text {}

  .divider {
    margin-top: .5em;
    margin-bottom: .5em;
    opacity: .2;
  }

  .author {
    font-weight: bold;
  }

  .source {
    margin-top: .25em;
    opacity: .7;
  }
</style>