---
// Type imports
import type { QuoteFrontmatter } from '@lib/types';

// Layout imports
import Base from '../layouts/Base.astro';
import Stack from "../layouts/Stack.astro"

// Components



const posts = await Astro.glob<QuoteFrontmatter>('./quotes/**/*.md');
---

<Base title="Quoke &mdash; a few quotations">
  <Stack> 

<div class="quote">“The most wasted of days is one without laughter.” – E.E. Cummings</div>



  </Stack>
</Base>

<style lang="scss">
  .quote {
    padding: 2rem;
    width: 320px;
    height: 320px;
  }
</style>