---
import { getSlugFromFilePath } from "$lib/paths";

import Base from "$layouts/Base.astro";
import Markdown from "@astrojs/markdown-component";

export async function getStaticPaths() {
  const quotes = await Astro.glob("../../lib/quotes/**/*.md");
  const nonDraftQuotes = quotes.filter((post) => !post.frontmatter.draft);

  const staticPaths = nonDraftQuotes.map((quote) => {
    const { file } = quote;
    const slug = getSlugFromFilePath(file);

    return {
      params: { slug },
      props: { quote },
    };
  });

  return staticPaths;
}

// const { slug } = Astro.params;
const { quote } = Astro.props;
const { frontmatter } = quote;
---

<Base title="Quote">
  <div class="text">
    <Markdown>{frontmatter.text}</Markdown>
  </div>
  <div>&mdash; {frontmatter.author}</div>
</Base>

<style lang="scss">
  .text {
    font-size: 1.3em;
  }
</style>
