<div class="footer-root">
  <div class="credits">
    Built by <a href="https://twitter.com/phocks">@phocks</a> 
  </div>
</div>

<style lang="scss">
  .footer-root {
    background-color: #180d12;
    padding: 20px 0;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(225, 130, 170);
    clip-path: inset(0);
    position: fixed;
    bottom: 0px;
    z-index: -1;
    width: 100%;
  }

  .credits {
    a {
      color: inherit;
    }
  }
</style>
